.upload-image {
   width:  100px;
}

.upload-image__frame {
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   height: 100px;
   padding: 5px;
}

.upload-image__thumb-block {
   width: 100%;
   height: 100%;
   border: 1px solid rgba(0, 0, 0, 0.2);
}

.upload-image__thumb-block.emptyPhoto {
   background: url(../../assets/image/emptyPhoto.svg) right 50% top 50% no-repeat #f8f8f9;
   background-size: 65%;
}

.upload-image__button-block {
   display: flex;
   flex-flow: column nowrap;
   align-items: flex-end;
   margin-top: 10px;
}

.upload-image__button-block {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
}

.upload-image__button-block > label{
   margin-bottom: 5px;
}