.button {
   padding: 5px;
   color: #fff;
   border-radius: 2px;
   min-width: 50px;
   outline: none;
   border: none;
   cursor: pointer;
}
.text-field, 
.list__header,
.list-item {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
}

.admin_list__header {
   display: flex;
   flex-flow: row nowrap;
   justify-content: flex-start;
}

.button.btnBlue {
   background-color: #3498DB;
}

.button.btnYellow {
   background-color: #d3bf12;
}

.button.btnRed {
   background-color: #e04343;
}

.input--file input {
   display: none !important;
}

.list-item,
.text-field {
   align-items: center;
}

.text-area {
   align-items: flex-start;
}

.text-area textarea{
   height: 100px !important;
   resize: none;
}

.text-field label {
   margin-right: 20px;
   font-size: 14px;
}

.text-field label.error,
.text-field input.error::placeholder,
.text-area textarea.error::placeholder {
   color: rgba(255, 0, 0, 0.7);
}

.text-area textarea,
.text-field input {
   width: 180px !important;
   padding: 5px;
   border: 1px solid #207ab6;
}

.text-area textarea.error,
.text-field input.error {
   border: 1px solid rgba(255, 0, 0, 0.7);
} 

.table tbody tr > td,
.button, 
.text-field {
   font-weight: 300;
   font-size: 12px;
}

.error-bar {
   width: 100%;
   color: rgba(255, 0, 0, 0.7);
   font-size: 12px;
   text-align: center;
   visibility: hidden;
   margin-bottom: 5px;
   overflow-wrap: break-word;
}

.error-bar.visible {
   visibility: visible;
}

.header {
   width: 100%;
   text-align: left;
}

.header h1{
   font-size: 28px;
   font-weight: 600;
}

.list {
   min-width: 300px;
}

.admin_list {
   min-width: 150px;
}

.admin_list__header,
.list__header {
   background-color: #8dc6ec;
   color: #000;
   padding: 4px;
}

.admin_list .list-item,
.header__icon {
   cursor: pointer;
}

.admin_list .list-item:hover{
   font-weight: 600;
}

.header__icon svg {
   width: 12px;
   height: 12px;
   fill: #fff;
}

.list {
   font-size: 13px;
}

.list__content {
   border: 1px solid rgb(19, 19, 216);
   padding: 10px;
}

.list-item {
   margin-bottom: 5px;
}

.list-item:last-child {
   margin-bottom: 0;
}

.table thead tr > td {
   background-color: rgb(19, 19, 216);
   color: #fff;
   padding: 5px;
}

.table tbody tr > td {
   background-color: #207ab6;
   color: #000;
   padding: 5px;
}

.table tbody tr:nth-child(2) > td {
   background-color: #8dc6ec;
}

.table td {
   min-width: 50px;
}