html,
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
}

body > #root{
  height: 100%;
}

.default-view {
   background-color: #fff;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.default-view .main {
   width: 600px;
}

.column-container {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: flex-start;
}

.label-block,
.button-block {
   display: flex;
   flex-flow: column nowrap;
   align-items: flex-end;
   justify-content: center;
}

.button-block button:first-child {
   margin-bottom: 5px;
}

.label-block{
   padding: 10px 0;
}

.label-block > *{
   margin-bottom: 10px;
}

.button-block.row {
   flex-flow: row nowrap;
   justify-content: flex-end;
   align-items: center;
   margin-top: 20px;
}

.button-block.row button:first-child {
   margin-right: 10px;
   margin-bottom: 0;
}

.form-wrapper {
   max-width: 350px;
}